{% extends '::base.html.twig' %}

{% block title -%}Owner{% endblock %}

{% block body -%}
    <h1>Owner</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telephone }}</td>
            </tr>
            <tr>
                <th>Pets</th>
                <td>
                    <table>
                    {% for pet in entity.pets %}
                        <tr><td>{{ pet.id }}</td></tr>
                        <tr><td>{{ pet.name }}</td></tr>
                        <tr><td>{{ pet.birthdate|date('d.m.Y') }}</td></tr>
                        <tr><td>{% if pet.petType %}{{ pet.petType.name }}{% endif %}</td></tr>
                        <tr><td><a href="{{ path('pet_edit', {'id': pet.id }) }}">Edit Pet</a></td></tr>
                        {% for visit in pet.visits %}
                            <tr><td>{{ visit.id }}</td><td>{{ visit.date|date('d.m.Y')  }}</td><td>{{ visit.description }}</td></tr>
                        {% endfor %}
                        <tr><td><a href="{{ path('visit_new4pet', {'id': pet.id }) }}">Add Visit</a></td></tr>
                    {% endfor %}
                        <tr><td><a href="{{ path('pet_new4owner', {'id': entity.id }) }}">Add Pet</a></td></tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('owner') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Back to the Owner list
        </a>
    </li>
    <li>
        <a href="{{ path('owner_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
