<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} | PHP Petclinic</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="{{ path('owner') }}">Owner</a></li>
            <li><a href="{{ path('pet') }}">Pets</a></li>
            <li><a href="{{ path('pettype') }}">PetType</a></li>
            <li><a href="{{ path('vet') }}">Vet</a></li>
            <li><a href="{{ path('specialty') }}">Specialties</a></li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
