{% extends '::base.html.twig' %}

{% block title -%}Vet{% endblock %}

{% block body -%}
    <h1>Vet list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Specialties</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('vet_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{% for specialty in entity.specialties %}{{ specialty }} {% endfor %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('vet_show', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> show</a>
                    </li>
                    <li>
                        <a href="{{ path('vet_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('vet_new') }}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create a new Vet
            </a>
        </li>
        <li>
            <a href="{{ path('vet', {'_format':'xml'}) }}">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> XML
            </a>
        </li>
            <li>
                <a href="{{ path('vet', {'_format':'atom'}) }}">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Atom Feed
                </a>
            </li>
    </ul>
    {% endblock %}
